In [1]:
import pandas as pd

In [2]:
regressor = pd.read_pickle('HousePricePredictor')
regressor

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [3]:
cols=['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Area Population']

ASK USER INCOME

In [4]:
income= eval(input('enter the income:'))
house_age = eval(input('enter the house age:'))
rooms= eval(input('enter the number of rooms:'))
population =eval(input('enter the population'))
query=pd.DataFrame({'Avg.Area Income':[income],
                    'Avg.Area House Age':[house_age],
                    'Avg. Area Number of Rooms':[rooms],
                    'Avg Population':[population]
                    })

enter the income:100000
enter the house age:2
enter the number of rooms:6
enter the population10000

In [5]:
query

   Avg.Area Income  ...  Avg Population
0           100000  ...           10000

[1 rows x 4 columns]

In [8]:
regressor.predict(query)[0]

733683.1258376497

In [9]:
print('price for the house can be:%.1f$'%(regressor.predict(query)[0]))

price for the house can be:733683.1$